
{% extends 'base_auth.html' %}
{% load static %}
{% block title %}Password Reset{% endblock %}
{% block content %}

    <form class="form-signin" method="post">
        <img class="mb-4" src="{% static 'img/EM.png' %}" alt="" width="175" height="100">
      <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
        {% if validlink %}
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <button class="btn btn-lg btn-primary btn-sm" type="submit">Send Confirmation Link</button>
        {% else %}
            <p style="color: red">Invalid Token</p>
            <a href="{% url 'password_reset' %}">Request a New password.</a>
        {% endif %}
    </form>


{% endblock %}